.new
  = link_to 'Nova', new_note_path, :class => 'links_button'
- @notes.each do |note|
  .note
    = link_to 'Apagar', note, :confirm => 'Você tem certeza?', :method => :delete, :class => 'links_button'
    = link_to 'Editar', edit_note_path(note), :class => 'links_button'
    =raw note.text
    .tags
      %b Tags: 
      %i 
        - if note.tags.size > 0
          = note.tag_list  
        - else
          Sem tags.
        
        
