*{outline:none;}

body { background:none repeat scroll 0 0 #EEEEEE;color: #323231;height: 100%;}

body, p, ol, ul, td{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

#zero_notes {
  clear: left;
  font-family: 'Cabin Sketch',arial,serif;
  font-size: 50px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  text-align: center;
}

#zero_notes b{color: black;}

#zero_notes div{margin-top:25px;}

#zero_notes a{text-decoration:none;}

#zero_notes a:hover{background-color:transparent !important;text-decoration:none;}

pre{
  -moz-border-radius:5px 5px 5px 5px;
  -webkit-border-radius:5px 5px 5px 5px;
  border-radius:5px 5px 5px 5px;
  background:none repeat scroll 0 0 #111111;
  border-color:#000000 #353535 #353535 #000000;
  border-style:solid;
  border-width:1px;
  color:#FFFFFF;
  font-size:11px;
  margin:0 30px;
  padding:10px;
}

a{color: #444444;}

a:hover{background-color:#FFF000;color:#000000;text-decoration:none;}

div.field, div.actions{margin-bottom: 10px;}

#snote #explication{
clear:left;
margin:65px 0 0 50px;
position:absolute;
}
#snote #bg_form{
  -moz-border-radius:5px 5px 5px 5px;
  -webkit-border-radius:5px 5px 5px 5px;
  border-radius:5px 5px 5px 5px;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.8);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.8);
  background:none repeat scroll 0 0 #CCCCCC;
  float:right;
  margin:5px 5px 0 0;
  padding:30px;
  clear:both;
}

#links_menu{float:right; margin:0 10px 0 0;}

.links_button:hover{background-color:#FC9200;color:#FFFFFF;}

#snote #form{width:95%;margin: 0 0 0 2%;float:left;}

#snote textarea{width:98%;}

#snote .note{
  -moz-border-radius:5px 5px 5px 5px;
  -webkit-border-radius:5px 5px 5px 5px;
  border-radius:5px 5px 5px 5px;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.8);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.8);
  background:none repeat scroll 0 0 #CCCCCC;
  clear:both;
  display:block;
  width:95%;
  margin: 2% 1%;
  padding:10px;
}

#snote .tags{padding:0 5px 0 0; text-align:right; margin-top: 10px;}

#snote h1{
  border-bottom:1px solid #323231;
  color:#111111;
  padding-bottom:5px;
  text-shadow: 0 1px 2px #867A7A;
}

.note .buttons{
    display: block;
    float: right;
    height: 35px;
    position: relative;
    width: 500px;
}

.links_button{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 3px #999;
  -webkit-box-shadow: 0 1px 3px #999;
  box-shadow: 0 1px 3px #999;
    background: url("/images/alert-overlay.png") repeat-x scroll 0 0 #FFB515;
    border: 0 none !important;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-size: 13px !important;
    font-weight: bold;
    height: 30px;
    margin-left: 10px;
    padding: 7px !important;
    position: inherit;
    text-decoration: none;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}

#notes .links_button{width: 100px !important;}

#snote .new .links_button{background-color:#222222; float:left;margin:-2px 0 10px 13px;}

#snote .new .links_button:hover{background-color:#111111;}

#snote .share{
    background-color: #00BB3F;
    height: 17px !important;
    text-align: center;
}

#snote .share:hover{background-color:#1A9B46;}

#snote .new{float:left;margin:8px 0 0 10px;}

#snote .new a{
  height: 20px !important;
  text-align: center;
  width: 40px;
}

#snote #logo{float:left;display:block;padding-bottom:10px;}

#snote #logo a, #snote #logo a:hover{color:transparent;border:0;background-color:transparent;}

#snote #help_text{min-width:200px;padding:5px 20px 0 9px;}

#snote .textileexamples{margin-left:15px}

.Left{
  float:left;
  margin:0;
  padding:0;
  text-align:left;
  width:70%;
}
.Right{
  float:left;
  margin:0 0 0;
  padding:0;
  text-align:left;
  width:30%;
}

#credit{
  bottom:0;
  margin-left:30%;
  padding-bottom:5px;
  position:absolute;
  text-align:center;
}

#snote .tags li {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 3px #999999;
  -webkit-box-shadow: 0 1px 3px #999999;
  box-shadow: 0 1px 3px #999999;
  margin:0; !important
  float: right;
  list-style: none outside none;
  background-color: #4B4444;
  color: #FFFFFF;
  display: inline-block;
  font-size: 70%;
  font-weight: bold;
  padding: 2px 8px;
  text-shadow: 0 0 2px #92877D;
}

#search_bar {
  clear: left;
  margin: 0 auto;
  text-align: center;
  height: 25px;
}

#search_bar div{
  display: inline;
  float: none;
}

#search_bar input#search{
  border: 1px solid #CCCCCC;
  color: #000000;
  font: 18px arial,sans-serif bold;
  margin: 0;
  vertical-align: top;
}

#search_bar input[type="submit"]{
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  background: -moz-linear-gradient(center top , #FFFFFF, #EFEFEF) repeat scroll 0 0 #F6F6F6;
  background: -webkit-linear-gradient(#FFFFFF, #EFEFEF);
  border: 1px solid #CCCCCC;
  color: #444444;
  cursor: pointer;
  font-weight: bold;
  height: 25px;
  margin-left: -5px;
  overflow: visible;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  vertical-align: middle;
  white-space: nowrap;
  width: 100px;
}

.example_title{
  clear:both;
  padding-top:5px;
  color:#FFB515;
  text-shadow: 0 1px 2px #555555;
}

#bg_form #user_submit{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 3px #999;
  -webkit-box-shadow: 0 1px 3px #999;
  box-shadow: 0 1px 3px #999;
  width: 80px;
  background-color: transparent;
  border: medium none;
  background: url("/images/alert-overlay.png") repeat-x scroll 0 0 #FF6700;
  border: 0 none !important;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 13px !important;
  font-weight: bold;
  line-height: 1;
  padding: 4px 6px !important;
  position: relative;
  text-decoration: none;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}

#bg_form #user_submit:hover{background-color:#F16100;}

#user_new #user_submit{width: 110px;}

#error_messages{
  color: #F94734;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 1px 1px #CD3120;
}

#error_messages ul{
  font-size: 16px;
}

.recover_password {width: 270px !important;}

.powered_by {
  clear: left;
  font-family: 'Just Another Hand',arial,serif;
  font-size: 30px;
  font-style: italic;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.tweet_button{
  display: inline;
  margin-left: 10px;
}

.share_title{
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
}

.share_options{
    float: left;
    height: 20px;
    padding: 5px;
    position: relative;
}

a.public_link{
  color: #4183C4;
  text-decoration: none;
  display: inline;
}

a:hover.public_link{
  text-decoration: underline;
  background-color: transparent !important;
}

.alert_message{
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  background-color: red;
  bottom: 0;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  position: absolute;
  right: 0;
  text-align: center;
  text-shadow: 0 1px 1px #CD3120;
  width: 610px;
}

