%p
  Olá #{@resource.email}!
%p Alguém solicitou a mudança da sua senha para acessar o Snote. Você pode fazer isso, clicando no link abaixo:
%p= link_to 'Alterar minha senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p Caso você não tenha solicitado essa alteração, por favor desconsidere esse e-mail.
%p A sua senha não será alterada, até que você clique no link abaixo.

Tenha um bom dia.

Fabrício Ferrari de Campos
Snote - Notes made easy

